---
layout: default
title: 兜奇管家
path: home
---

<div class="container mx-auto lg:h-screen flex flex-col justify-center items-center">
  <h1>
    欢迎来到
    <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
      {{title}}
    </strong>
  </h1>

  <p>
    <abbr title="netlify cms, eleventy, alpine js & tailwind css">dou7.com</abbr>
    开始网站制作吧.
    <code class="bg-gray-100 text-blue-800 p-1">访问我们</code>
  </p>

  {% include "./_includes/partials/content.html" %}
</div>
