<footer class="{{ 'fixed' if path == 'home' }} bottom-0 text-center w-full py-4">
    <small class="text-gray-500">Copyright ©
        {{settings.name}}
        制作 ❤ 来自
        <a href="{{settings.url}}" target="_blank" class="underline">{{settings.author}}</a>
    </small>
</footer>
